@page
@model BowlingScoreCalculatorFrontend.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bowling Score Calculator.</p>
    <p>
        <a href="/Register" class="btn btn-primary">Register</a>
        <a href="/Login" class="btn btn-secondary">Login</a>
    </p>
</div>
